@use 'base/mixins' as m;
@use 'base/variables' as v;

.formulario{

    display: flex;
    flex-direction: column;

    &__fieldset{
        border: none;
        margin-top: 1rem;
        padding: 0;
    }
    &__legend{
        color: v.$gris;
        font-size: 2.2rem;
        margin-bottom: 2rem;

    }
    &__grid{
        @include m.tablet{
            @include m.grid(2,2rem);
        }
        
    }
    &__campo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }
    &__contenedor-icono{
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }
    &__icono{
        background-color: v.$gris-oscuro;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i{
            color: v.$blanco;
            font-size: 2rem;
        }

    }
    &__label{
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$negro, .8);
    }
    &__input,
    &__select{
        padding: .5rem;
        border: 1px solid darken(v.$gris-claro, 20);
        border-radius: .5rem;
        

        &--file{
            border: none;
        }
   
       
     
    }
 
    &__select {
        width: 20rem;
        padding: .5rem;
        
        border-radius: .5rem;
        &--estratos{
            width: auto;
          }
     
    }
      
      
      /* Estilo para los elementos option */
    &__option {
        background-color: v.$blanco;
        color: #333;
        padding: 5px;
        font-size: 14px;
      }
      
    &__imagen{
        max-width: 20rem;
    }

    &__radio{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    &__contenido-radio{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    &__texto{
        margin-top: 3rem;
    }
    &__listado{
        @include m.tags;
    }
    &__submit{
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
        align-self: flex-start;
        &--registrar{
            width: 100%;
        }
        &--deshabilitado{
           background-color: lighten(v.$azul, 30);
        
           &:hover{
                background-color: lighten(v.$azul, 30);
                cursor: wait;
           }
        }
     
    }
   

}
