@use 'base/variables' as v;
@use 'base/mixins' as m;

.cajas{
    margin-top: 5rem;
    margin-bottom: 2rem;

    &__grid{
        @include m.grid(1,2rem);
        @include m.tablet{
            @include m.grid(2,2rem);
        }
        @include m.desktop{
            @include m.grid(4,2rem);
            grid-row-gap:2rem;
        }
      
       

    }
    &__caja{
        @include m.shadow;
        padding: 2rem  2rem;
        font-weight: v.$bold;
        font-size: 2rem;
    }
    &__descripcion{
        margin: 0 0 2rem 0;
    }
    &__dato{
        color: v.$azul;
        font-size: 3rem;
    }
    &__fecha{

        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 2rem;
   
        margin-bottom: 2rem;
        width: 100%;
    }
    &__formulario{
        margin-bottom: 2rem;
    }
}